:root{
   --bg-primary:#D2E2E2;
   --bg-secondary:#EDF3F5;
   --color-primary:#3F7C88;
   --color-p:#258092;
   --color-secondary:#A5DBDC;
   --color-gradient:
   linear-gradient( to bottom,var(--bg-primary) )
   ;

   /* heading*/
   
   --h1-font-size:20px;

   /*font family*/
   --body-font-family:"gt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   --text-font-family:Baskerville,"Goudy Old Style", Palatino, "Book Antiqua", serif;
   
   /*  font size */
   --font-h1: clamp(3.2rem, .5692rem + 8.238vw, 13.75rem);
    --font-h2: clamp(1.5rem, 1.0982rem + 1.7143vw, 2.8125rem);
    --font-h3: clamp(1.375rem, 1.1837rem + .8163vw, 2rem);
    --font-h4: clamp(1.375rem, 1.1837rem + .8163vw, 1.6rem);
    --font-h5: clamp(1rem, .9235rem + .3265vw, 1.25rem);
    --font-h6: clamp(1rem, .9617rem + .1633vw, 1.125rem);
    --font-body: clamp(1rem, .8852rem + .4898vw, 1.375rem);
    --font-link: clamp(.875rem, .7985rem + .3265vw, 1.125rem);
    --font-mini: clamp(.875rem, .8367rem + .1633vw, 1rem);
    --font-h2-display: clamp(1.875rem, 1.301rem + 2.449vw, 3.95rem);


    --link-hover-transition: 0.5s;
}
@font-face {
    font-family: lovely;
    src: url(../font/Gatwick\ Bold/#0c0b0b);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    position: relative;
    transition: .2 linear;
    font-family: var(--body-font-family);
    background: linear-gradient(to bottom  left,
    #D2E2E2, #D2E2E2,
    #D2E2E2, #cae1e1,
    #cee4e4, #D2E2E2,
    #D2E2E2, #D2E2E2
    ); 
    animation: gradientAnimation 20s ease-in-out infinite;
    background-size: 500% 500%; 
    z-index: 1;
    
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
header .navbar{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 15px;
    position: fixed;
    z-index: 1000;
    
}
header .navbar ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 2px;
}
header .navbar ul li a{
    text-decoration: none;
    color: var(--color-primary);
    padding: 0px 15px 2px 15px;
    border-radius: 50px;
    font-size: var(--font-link);
    transition: var(--link-hover-transition);
    
    
}
header .navbar ul li a:hover{
    background: rgba(255, 255, 255, 0.3);
}
.nav-active{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
}
main{
    margin-top: 1.5rem;
    height: auto;
    background: var(--color-gradient);
    
    
}
main .holder-detail-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}
@keyframes gradientAnimation {
    0% {
      background-position:0% 0% ;
    }
    25%{
        background-position:0 0% ;
    }
    50%{
        background-position:0% 50% ; 

    }
    75%{
        background-position:0% 100% ; 
    }
    100% {
      background-position: 100% 100% ;
    }
  }
.holder-detail-container{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    animation: maintext 1s ease-in-out forwards;
}
main .holder-detail-container span{
    font-size: var(--font-h2);
    font-family: lovely;
    color: var(--color-primary);
   
}
@keyframes maintext {
    0%{
        margin:-100px;
        opacity: 0.1;
        transform: scale(1.05);
    }
    100%{
        margin: 0;
    }
    
}

main .holder-detail-container .bling-icon-right{
    position: absolute;
    top: 0;
    right: 10px;
    color:rgba(255, 255, 255, 0.5);
}
main .holder-detail-container .bling-icon-left{
    position: absolute;
    bottom: 0;
    left: 0;
    color:rgba(255, 255, 255, 0.5);
}
main .description-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
main .description-container{
    color: var(--color-p);
    margin-top: 1rem;

}
main .works-container{
    padding: 1rem;
    margin-top: 3.5rem;
    background-color: var(--bg-primary);
}
main .works-container .cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}
main .works-container .cards-container .card-one{
  flex: 40%;
  padding: 10px;
  margin-top: 5rem;

}

main .works-container .cards-container .card-two{
    flex: 60%;
    padding: 10px;
    
}
main .works-container .cards-container img{
    cursor: pointer;
   
}
@keyframes cardOne {
    0%{
        margin-top: 500px;
    }
    100%{
        margin-right: 0;
    }
    
}
main .works-container .cards-container .img-container :hover{
    opacity: .5;
    transform: scale(1.01);
    transition: all 0.5s;
    
}
main .works-container .cards-container .card-one .img-container img{
    width: 100%;
    border-radius: 20px;
    height: 500px;
    animation: cardOne 1s ease forwards;
}

main .works-container .cards-container .card-two .img-container img{
    width: 100%;
    border-radius: 50px;
    height: 500px;
    animation: cardOne 2s ease forwards;

}

main .works-container .cards-container-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
main .works-container .cards-container-two .card-three{
    flex: 60%;
    padding: 10px;
}
main .works-container .cards-container-two .card-four{
    flex: 40%;
    padding: 10px;
    margin-top: 5rem;
}
main .works-container .cards-container-two .img-container :hover{
    opacity: .5;
    transform: scale(1.01);
    transition: all 0.5s;
}
main .works-container .cards-container-two .card-three .img-container img{
    width: 100%;
    border-radius: 50px;
    height: 500px;
    animation: cardOne 2s ease forwards;
}
main .works-container .cards-container-two .card-four .img-container img{
    width: 100%;
    height: 500px;
    border-radius: 50px;
    animation: cardOne 1s ease forwards;
}
.progress-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    flex-direction: column;
}
.progress-container{
    text-align: center;
}
.progress-container .progress-header{
   
}
.progress-container .progress-header span h1{
    font-size: var(--font-h1);
    font-family: var(--text-font-family);
    color: var(--color-primary);
}
.progress-container .progress-paragh span p{
    color: var(--color-p);
    margin-top: 1rem;
}
.works-container-inProgress{
    padding: 1rem;
    margin-top: 5rem;
}
.works-container-inProgress > .cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1.5rem;
    gap: 20px;
}
.works-container-inProgress > .cards-container .card-one{
  flex: 60%;
  padding: 0 20px;
  background-color: #ffff;
  padding: 3rem;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  height: 500px;
  transition: all 0.5s;

}
.works-container-inProgress > .cards-container .card-one:hover{
    cursor: pointer;
    box-shadow: 5px 2px 5px #373636;
    transform: scale(1.01);
    padding: 5rem;
    opacity: 0.9;
}
.works-container-inProgress > .cards-container .card-one .header{
    text-align: end;
     font-family: var(--text-font-family);
     color: rgb(124, 125, 125);
}
.works-container-inProgress > .cards-container .card-one .img-container{
 
 
}
.works-container-inProgress > .cards-container .card-one .img-container img{
    height: 500px;
}
.works-container-inProgress > .cards-container .card-one .header h4{
    font-size: var(--font-h6);
    font-weight: 200;
}
.works-container-inProgress > .cards-container .card-one .header h2{
    font-size: var(--font-h2-display);
}
.works-container-inProgress > .cards-container .card-two{
    flex: 30%;
    background-color: #0c0b0b;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    height: 500px;
    padding: 2rem;
    transition: all 0.5s;
}
.works-container-inProgress > .cards-container .card-two:hover{
    cursor: pointer;
    box-shadow: 5px 2px 5px #373636;
    transform: scale(1.01);
    padding: 5rem;
    opacity: 0.9;
}
.works-container-inProgress > .cards-container .card-two .header{
    text-align: end;
    color: #EDF3F5;
    font-family: var(--text-font-family);
}

.works-container-inProgress > .cards-container .card-two .header h4{
    font-size: var(--font-h6);
    font-weight: 200;
}
.works-container-inProgress > .cards-container .card-two .header h2{
    font-size: var(--font-h2);
}
.works-container-inProgress > .cards-container .card-two .img-container{
    display: flex;
    justify-content: center;
}
.works-container-inProgress > .cards-container .card-two .img-container img{
    width: 400px;
    height: 600px;
    filter: drop-shadow(0px 0px 1px #fff);
}
.works-container-inProgress > .cards-container .card-one img{
    width: 100%;
    border-radius: 50px;
    height: 500px;
}
.works-container-inProgress > .cards-container .card-two img{
    width: 100%;
    border-radius: 50px;
    height: 500px;
}





/*        footer   */
footer{
    
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5rem 0px;
    background-color: var(--bg-primary);
    z-index: 2;
    margin: 5rem 0;

}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1000px;
    
    
}
.footer-container .social-media-container{
    margin-top: 10px;
    
}
.footer-container .social-media-container .spotify-container{
    display:flex ;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 50px;
    width: 400px;
}
.footer-container .social-media-container .spotify-container .spotify-icon span{
   font-size: 40px;
} 
.spotify-icon span i{
    color: #3F7C88;
}
.social-media-container .content h4{
   color: #3F7C88;
   text-transform: capitalize;
   font-weight: bold;
}
.social-media-container .content p{
    color: #3F7C88;
    text-transform: capitalize;
    font-weight: bold;
}
.copy-right-container{
    margin-top: 1rem;
    padding-left: 10px;
    color: #164751;
}
.footer-container .using-tools-container{
   padding: 10px;
}
.footer-container .using-tools-container ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}
.footer-container .using-tools-container ul li h2{
     font-weight: bold;
     color: #3F7C88;
}
.footer-container .using-tools-container ul li a{
    text-decoration: none;
    color: rgba(67, 124, 159, 0.9);
}
.footer-container .using-tools-container ul li a:hover{
    color: #3F7C88;
}
.footer-container .contact-container{
    padding: 10px;
}
.footer-container .contact-container ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}
.footer-container .contact-container ul li h2{
    text-decoration: none;
    color: rgba(67, 124, 159, 0.9);
}
.footer-container .contact-container ul li a{
    text-decoration: none;
    color: rgba(67, 124, 159, 0.9);
}
.footer-container .contact-container ul li a:hover{
    color: #3F7C88;
}






@media (max-width: 800px){
    .cards-container .card-one{
        flex: 100%;
        margin-top: 0px;
    }
    main .works-container .cards-container .card-two{
        flex: 100%;
    }
    main .works-container .cards-container .card-one .img-container img{
       height: 300px;
    }
    main .works-container .cards-container .card-two .img-container img{
       height: 300px;
       border-radius: 20px;
    }
    main .works-container .cards-container-two .card-three{
        flex: 100%;
    }
    main .works-container .cards-container-two .card-four{
        flex: 100%;
        margin-top: 0;
    }
    main .works-container .cards-container-two .card-three .img-container img{
        height: 300px;
        border-radius: 20px;
     }
     main .works-container .cards-container-two .card-four .img-container img{
        height: 300px;
        border-radius: 20px;
     }
     .works-container-inProgress > .cards-container .card-one,
     .works-container-inProgress > .cards-container .card-two{
        flex: 100%;
     }
     .works-container-inProgress > .cards-container .card-one img,
     .works-container-inProgress > .cards-container .card-two img{
        height: 300px;
        border-radius: 20px;
     }
    

    
     .footer{
        margin: 1rem 0;
     }
}


@media (max-width: 500px){
    body{
        background-color: var(--bg-primary);
    }
    header .navbar{
        width:330px;
        padding: 5px;
    
    }
    header .navbar ul{
        gap: 10px;
    }
    .description-container{
       text-align: center;
        margin: 0 1rem;
    }
    main .holder-detail-container span h1{
        font-size: 40px;
     }
     main .works-container{
        margin-top: 0;
        padding: 0;
     }
     .works-container-inProgress > .cards-container .card-one ,.img-container,
        .works-container-inProgress > .cards-container .card-two{
        height: 400px;
        width: 350px;
     }
     .footer-container .social-media-container .spotify-container{
        width: 300px;
      }
}